T2_Client/web/WEB-INF/wsdl/localhost_8080/T2_Serverrrrr/SinhVienService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://svvvvvv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://svvvvvv/" name="SinhVienService">
<types>
<xsd:schema>
<xsd:import namespace="http://svvvvvv/" schemaLocation="http://localhost:8080/T2_Serverrrrr/SinhVienService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNew">
<part name="parameters" element="tns:addNew"/>
</message>
<message name="addNewResponse">
<part name="parameters" element="tns:addNewResponse"/>
</message>
<message name="findByRollNo">
<part name="parameters" element="tns:findByRollNo"/>
</message>
<message name="findByRollNoResponse">
<part name="parameters" element="tns:findByRollNoResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<portType name="SinhVienService">
<operation name="addNew">
<input wsam:Action="http://svvvvvv/SinhVienService/addNewRequest" message="tns:addNew"/>
<output wsam:Action="http://svvvvvv/SinhVienService/addNewResponse" message="tns:addNewResponse"/>
</operation>
<operation name="findByRollNo">
<input wsam:Action="http://svvvvvv/SinhVienService/findByRollNoRequest" message="tns:findByRollNo"/>
<output wsam:Action="http://svvvvvv/SinhVienService/findByRollNoResponse" message="tns:findByRollNoResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://svvvvvv/SinhVienService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://svvvvvv/SinhVienService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://svvvvvv/SinhVienService/updateRequest" message="tns:update"/>
<output wsam:Action="http://svvvvvv/SinhVienService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://svvvvvv/SinhVienService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://svvvvvv/SinhVienService/deleteResponse" message="tns:deleteResponse"/>
</operation>
</portType>
<binding name="SinhVienServicePortBinding" type="tns:SinhVienService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRollNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SinhVienService">
<port name="SinhVienServicePort" binding="tns:SinhVienServicePortBinding">
<soap:address location="http://localhost:8080/T2_Serverrrrr/SinhVienService"/>
</port>
</service>
</definitions>